<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/files.css">
  <link rel="icon" type="image/x-icon" href="/img/fav.png">
  <title>Onwords WorkSpace</title>
</head>
<body>
<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo">Onwords WorkSpace</a>
    <div class="header__toggle">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>
  </div>
</header>

<div class="nav" id="navbar">
  <nav class="nav__container">
    <div>
      <img src="/img/onwords.svg" alt="Logo" class="nav__logo-name">
      <div class="nav__list">
        <div class="nav__items">

          <a href="/" class="nav__link">
            <i class='bx bx-home nav__icon'></i>
            <span class="nav__name">Home</span>
          </a>

          <div class="nav__dropdown">
            <i class='bx bx-user nav__icon'></i>
            <span class="nav__name">Clients</span>
            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a href="/states" class="nav__dropdown-item">Status</a>
                <a href="/create_lead" class="nav__dropdown-item">Create Lead</a>
                <% allowed_departments = %w[ADMIN BRAVO] %>
                <% if allowed_departments.include?(@user_details['department']) %>
                  <a href="/bulk_assign" class="nav__dropdown-item">Bulk Assign</a>
                <% end %>
                <a href="/my_clients" class="nav__dropdown-item">My Clients</a>
              </div>
            </div>
          </div>

          <div class="nav__items">
            <div class="nav__dropdown">
              <i class='bx bx-compass nav__icon' ></i>
              <span class="nav__name">Files</span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>

              <div class="nav__dropdown-collapse active">
                <div class="nav__dropdown-content">
                  <a href="/invoice" class="nav__dropdown-item">Invoice</a>
                  <a href="/proforma-invoice" class="nav__dropdown-item">Proforma</a>
                  <a href="/quotation" class="nav__dropdown-item">Quotation</a>
                </div>
              </div>
            </div>

            <% allowed_departments = %w[ADMIN BRAVO WEB] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/create_staff" class="nav__link">
                <i class='bx bx-plus nav__icon' ></i>
                <span class="nav__name">Create Staff</span>
              </a>
            <% end %>

            <div class="nav__dropdown">
              <i class='bx bx-smile nav__icon' ></i>
              <span class="nav__name">Attendance</span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/attendance" class="nav__dropdown-item">Daily</a>
                  <a href="/attendance/monthly_summary" class="nav__dropdown-item">Monthly</a>
                </div>
              </div>
            </div>

            <% allowed_departments = %w[ADMIN MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/notifications" class="nav__link">
                <i class='bx bx-bell nav__icon' ></i>
                <span class="nav__name">Notification</span>
                <% if @unread_count && @unread_count > 0 %>
                  <span class="nav__notification"><%= @unread_count %></span>
                <% end %>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/inventory" class="nav__link">
                <i class='bx bx-bookmark nav__icon' ></i>
                <span class="nav__name">Inventory</span>
              </a>
            <% end %>


            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/view_completed_schedules" class="nav__link">
                <i class='bx bx-message-check nav__icon' ></i>
                <span class="nav__name">Completion History</span>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/batch" class="nav__link">
                <i class='bx bx-data nav__icon' ></i>
                <span class="nav__name">Batch View</span>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/view_buckets" class="nav__link">
                <i class='bx bx-bar-chart nav__icon' ></i>
                <span class="nav__name">Bucket Analytics</span>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/performance_tables" class="nav__link">
                <i class='bx bx-stats nav__icon' ></i>
                <span class="nav__name">TC Performance</span>
              </a>
            <% end %>

            <a href="/schedules" class="nav__link">
              <i class='bx bx-phone nav__icon'></i>
              <span class="nav__name">Schedules</span>
              <% total_not_done = @not_done_calls %>
              <% if total_not_done > 0 %>
                <span class="nav__notification"><%= total_not_done %></span>
              <% end %>
            </a>

            <a href="/calendar" class="nav__link">
              <i class='bx bx-calendar nav__icon'></i>
              <span class="nav__name">Calendar</span>
              <% total_not_done = @not_done_visits + @not_done_installations + @not_done_services %>
              <% if total_not_done > 0 %>
                <span class="nav__notification"><%= total_not_done %></span>
              <% end %>
            </a>

          </div>
        </div>
      </div>
      <a href="/logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon' ></i>
        <span class="nav__name">Log Out</span>
      </a>
    </div>
  </nav>
</div>

<main>
  <section>
    <a href="/invoice" class="custom-button">Invoice</a>
    <a href="/proforma-invoice" class="custom-button">Proforma Invoice</a>
    <a href="/quotation" class="custom-button">Quotation</a>

    <% if @invoice_data %>
      <h1>Invoices</h1>
      <% @invoice_data.each do |year, months| %>
        <% months.each do |month, invoices| %>
          <h2>Year: <%= year %>, Month: <%= month %></h2>
          <% invoices.each do |invoice_id, details| %>
            <div class="invoice">
              <h3>Invoice ID: <%= invoice_id || "ID not available" %></h3>
              <p>Created By: <%= details["CreatedBy"] || "Creator not available" %></p>
              <% if details["TimeStamp"] %>
                <p>Craeted Time: <%= Time.at(details["TimeStamp"] / 1000) %></p>
              <% else %>
                <p>Time not available</p>
              <% end %>
              <p>Mobile Number: <%= details["mobile_number"] || "Number not available" %></p>
              <% if details["document_link"] %>
                <a href="<%= details["document_link"] %>" target="_blank">View Document</a>
              <% else %>
                <p>Document link not available</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p>No invoice data available.</p>
    <% end %>

    <% if @proforma_data %>
      <h1>Proforma Invoices</h1>
      <% @proforma_data.each do |year, months| %>
        <% months.each do |month, proformas| %>
          <h2>Year: <%= year %>, Month: <%= month %></h2>
          <% proformas.each do |proforma_id, details| %>
            <div class="proforma">
              <h3>Proforma ID: <%= proforma_id || "ID not available" %></h3>
              <p>Created By: <%= details["CreatedBy"] || "Creator not available" %></p>
              <% if details["TimeStamp"] %>
                <p>Created Time: <%= Time.at(details["TimeStamp"] / 1000) %></p>
              <% else %>
                <p>Timestamp not available</p>
              <% end %>
              <p>Mobile Number: <%= details["mobile_number"] || "Number not available" %></p>
              <% if details["document_link"] %>
                <a href="<%= details["document_link"] %>" target="_blank">View Document</a>
              <% else %>
                <p>Document link not available</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p>No proforma invoice data available.</p>
    <% end %>

    <% if @quotation_data %>
      <h1>Quotations</h1>
      <% @quotation_data.each do |year, months| %>
        <% months.each do |month, quotations| %>
          <h2>Year: <%= year %>, Month: <%= month %></h2>
          <% quotations.each do |quotation_id, details| %>
            <div class="quotation">
              <h3>Quotation ID: <%= quotation_id || "ID not available" %></h3>
              <p>Created By: <%= details["CreatedBy"] || "Creator not available" %></p>
              <% if details["TimeStamp"] %>
                <p>Created Time: <%= Time.at(details["TimeStamp"] / 1000) %></p>
              <% else %>
                <p>Timestamp not available</p>
              <% end %>
              <p>Mobile Number: <%= details["mobile_number"] || "Number not available" %></p>
              <% if details["document_link"] %>
                <a href="<%= details["document_link"] %>" target="_blank">View Document</a>
              <% else %>
                <p>Document link not available</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p>No quotation data available.</p>
    <% end %>

  </section>
</main>
<div class="loader"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loader = document.querySelector('.loader');

        document.querySelectorAll('a').forEach(function(link) {
            link.addEventListener('click', function() {
                loader.style.display = 'grid'; // Show loader
            });
        });
    });

    window.onload = function() {
        var loader = document.querySelector('.loader');
        if (loader) {
            loader.style.display = 'none';
        }
    };
</script>
<script>
    const showMenu = (headerToggle, navbarId) =>{
        const toggleBtn = document.getElementById(headerToggle),
            nav = document.getElementById(navbarId)

        if(headerToggle && navbarId){
            toggleBtn.addEventListener('click', ()=>{
                nav.classList.toggle('show-menu')
                toggleBtn.classList.toggle('bx-x')
            })
        }
    }
    showMenu('header-toggle','navbar')

    const linkColor = document.querySelectorAll('.nav__link')

    function colorLink(){
        linkColor.forEach(l => l.classList.remove('active'))
        this.classList.add('active')
    }
    linkColor.forEach(l => l.addEventListener('click', colorLink))
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const translations = {
            "Invoice": "Invoice",
            "Proforma Invoice": "Proforma Invoice",
            "Quotation": "Quotation"
        };

        document.querySelectorAll('.custom-button').forEach(function(button) {
            const originalText = button.textContent;

            button.addEventListener('mouseenter', function() {
                button.textContent = translations[originalText];
            });

            button.addEventListener('mouseleave', function() {
                button.textContent = originalText;
            });
        });
    });
</script>
<script>
    const showModal = (openButton, modalContent) =>{
        const openBtn = document.getElementById(openButton),
            modalContainer = document.getElementById(modalContent)

        if(openBtn && modalContainer){
            openBtn.addEventListener('click', ()=>{
                modalContainer.classList.add('show-modal')
            })
        }
    }
    showModal('open-modal','modal-container')

    const closeBtn = document.querySelectorAll('.close-modal')

    function closeModal(){
        const modalContainer = document.getElementById('modal-container')
        modalContainer.classList.remove('show-modal')
    }
    closeBtn.forEach(c => c.addEventListener('click', closeModal))
</script>
</html>