<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
      .total-boxes {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
      }
      .total-box {
          padding: 20px;
          border-radius: 5px;
          color: #fff;
          width: 30%;
          text-align: center;
      }
      .expense-box {
          background-color: #FF6347;
      }
      .income-box {
          background-color: #32CD32;
          color: #00008B;
      }
      .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.4);
          padding-top: 50px;
      }
      .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
      }
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }
      .forms-container {
          display: flex;
          justify-content: center;
          align-items: flex-start; /* Adjusted to align the top of the forms */
          padding: 20px;
          gap: 20px; /* Space between forms */
      }
      .form-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      form {
          display: flex;
          width: 100%; /* Full width of the form wrapper */
      }
      .input-group {
          flex: 1; /* Takes full width dynamically */
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      input[type="date"],
      input[type="month"],
      button {
          width: 90%; /* Adjust width for internal elements */
          padding: 10px;
          margin: 5px;
          border: 2px solid #ccc;
          border-radius: 5px;
      }
      button {
          background-color: gold;
          color: black;
          font-weight: bold;
          cursor: pointer;
          border-color: black; /* Matching border with the text color */
      }
      button:hover {
          background-color: #DAA520; /* Darker gold on hover */
      }

      table {
          width: 100%;
          border-collapse: collapse;
      }
      th, td {
          border: 1px solid #ddd;
          padding: 8px;
      }
      th {
          background-color: #f2f2f2;
      }
      .expense {
          background-color: #ffb3b3;
      }
      .income {
          background-color: #b3ffb3;
      }
      .total {
          font-weight: bold;
          font-size: 26px;
      }
      .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.4);
          padding-top: 50px;
      }
      .modal-content {
          background-color: #fefefe;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
      }
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }
  </style>
  <link rel="icon" type="image/x-icon" href="/img/fav.png">
  <title>Onwords WorkSpace</title>
</head>
<body>
<header class="header">
  <div class="header__container">
    <section class="modal container header__img">
      <button class="modal__button" id="open-modal">
        <i class='bx bx-star' id="header-toggle"></i>
      </button>
    </section>
    <a href="#" class="header__logo">Onwords WorkSpace</a>
    <div class="header__toggle">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>
  </div>
</header>
<div class="modal__container" id="modal-container">
  <div class="modal__content">
    <div class="modal__close close-modal" title="Close">
      <i class='bx bx-x'></i>
    </div>
    <img src="<%= @user_details['profileImage'] %>" alt="Profile Image" class="modal__img">
    <h1 class="modal__title"><%= @user_details['name'] %></h1>
    <p class="modal__description"><%= @user_details['mobile'] %></p>
    <p class="modal__description"><%= @user_details['email'] %></p>
    <p class="modal__description"><%= Time.at(@user_details['dob'].to_i / 1000).strftime("%d-%m-%Y") %></p>
    <button class="modal__button modal__button-width">
      <%= @user_details['department'] %>
    </button>
  </div>
</div>

<div class="nav" id="navbar">
  <nav class="nav__container">
    <div>
      <img src="/img/onwords.svg" alt="Logo" class="nav__logo-name">
      <div class="nav__list">
        <div class="nav__items">

          <a href="/" class="nav__link">
            <i class='bx bx-home nav__icon'></i>
            <span class="nav__name">Home</span>
          </a>

          <div class="nav__dropdown">
            <i class='bx bx-user nav__icon'></i>
            <span class="nav__name">Clients</span>
            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a href="/states" class="nav__dropdown-item">Status</a>
                <a href="/create_lead" class="nav__dropdown-item active">Create Lead</a>
                <% allowed_departments = %w[ADMIN BRAVO] %>
                <% if allowed_departments.include?(@user_details['department']) %>
                  <a href="/bulk_assign" class="nav__dropdown-item">Bulk Assign</a>
                <% end %>
                <a href="/my_clients" class="nav__dropdown-item">My Clients</a>
              </div>
            </div>
          </div>

          <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
          <% if allowed_departments.include?(@user_details['department']) %>
            <div class="nav__dropdown">
              <i class='bx bx-money nav__icon active' ></i>
              <span class="nav__name">Expense Tracker</span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/finance" class="nav__dropdown-item">Update Transactions</a>
                  <a href="/financial_analyser" class="nav__dropdown-item">Analysis</a>
                </div>
              </div>
            </div>
          <% end %>

          <% allowed_departments = %w[ADMIN BRAVO WEB INSTALLATION] %>
          <% if allowed_departments.include?(@user_details['department']) %>
            <a href="/installation_tracker" class="nav__link">
              <i class='bx bx-wrench nav__icon' ></i>
              <span class="nav__name">Installation Tracking</span>
            </a>
          <% end %>

          <div class="nav__items">
            <div class="nav__dropdown">
              <i class='bx bx-compass nav__icon' ></i>
              <span class="nav__name">Files</span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/invoice" class="nav__dropdown-item">Invoice</a>
                  <a href="/proforma-invoice" class="nav__dropdown-item">Proforma</a>
                  <a href="/quotation" class="nav__dropdown-item">Quotation</a>
                </div>
              </div>
            </div>

            <% allowed_departments = %w[ADMIN BRAVO WEB] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/create_staff" class="nav__link">
                <i class='bx bx-plus nav__icon' ></i>
                <span class="nav__name">Create Staff</span>
              </a>
            <% end %>

            <div class="nav__dropdown">
              <i class='bx bx-smile nav__icon' ></i>
              <span class="nav__name">Attendance</span>
              <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/attendance" class="nav__dropdown-item">Daily</a>
                  <a href="/attendance/monthly_summary" class="nav__dropdown-item">Monthly</a>
                </div>
              </div>
            </div>

            <% allowed_departments = %w[ADMIN MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/notifications" class="nav__link">
                <i class='bx bx-bell nav__icon' ></i>
                <span class="nav__name">Notification</span>
                <% if @unread_count && @unread_count > 0 %>
                  <span class="nav__notification"><%= @unread_count %></span>
                <% end %>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/inventory" class="nav__link">
                <i class='bx bx-bookmark nav__icon' ></i>
                <span class="nav__name">Inventory</span>
              </a>
            <% end %>


            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/view_completed_schedules" class="nav__link">
                <i class='bx bx-message-check nav__icon' ></i>
                <span class="nav__name">Completion History</span>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT PR] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <div class="nav__dropdown">
                <i class='bx bx-data nav__icon' ></i>
                <span class="nav__name">Batch View</span>
                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="/batch" class="nav__dropdown-item">Individual</a>
                    <a href="/batch2" class="nav__dropdown-item">Overall</a>
                  </div>
                </div>
              </div>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/view_buckets" class="nav__link">
                <i class='bx bx-bar-chart nav__icon' ></i>
                <span class="nav__name">Bucket Analytics</span>
              </a>
            <% end %>

            <% allowed_departments = %w[ADMIN BRAVO WEB MANAGEMENT] %>
            <% if allowed_departments.include?(@user_details['department']) %>
              <a href="/performance_tables" class="nav__link">
                <i class='bx bx-stats nav__icon' ></i>
                <span class="nav__name">TC Performance</span>
              </a>
            <% end %>

            <a href="/schedules" class="nav__link">
              <i class='bx bx-phone nav__icon'></i>
              <span class="nav__name">Schedules</span>
              <% total_not_done = @not_done_calls %>
              <% if total_not_done > 0 %>
                <span class="nav__notification"><%= total_not_done %></span>
              <% end %>
            </a>

            <a href="/calendar" class="nav__link">
              <i class='bx bx-calendar nav__icon'></i>
              <span class="nav__name">Calendar</span>
              <% total_not_done = @not_done_visits + @not_done_installations + @not_done_services %>
              <% if total_not_done > 0 %>
                <span class="nav__notification"><%= total_not_done %></span>
              <% end %>
            </a>

          </div>
        </div>
      </div>
      <a href="/logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon' ></i>
        <span class="nav__name">Log Out</span>
      </a>
    </div>
  </nav>
</div>
<main>
  <section>
    <section class="total-boxes">
      <div id="totals" class="total-box expense-box">
        <p>₹<span id="total_expense">0.00</span></p>
      </div>
      <div id="totals" class="total-box income-box">
        <p>₹<span id="total_income">0.00</span></p>
      </div>
    </section>

    <div class="forms-container">
      <div class="form-wrapper">
        <form action="/change_month" method="post">
          <div class="input-group">
            <input type="month" name="month_year" required>
            <button type="submit">Monthly Data</button>
          </div>
        </form>
      </div>

      <div class="form-wrapper">
        <form id="graphForm">
          <div class="input-group">
            <input type="date" name="from_date" required>
            <input type="date" name="to_date" required>
          </div>
          <button type="button" id="showAnalysisBtn">Analyse</button>
        </form>
      </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p class="total" style="color: red"><span id="total_date_expense">0.00</span></p>
        <canvas id="expenseChart" width="400" height="100"></canvas>
        <p class="total" style="color: #5dff00"><span id="total_date_income">0.00</span></p>
        <canvas id="incomeChart" width="400" height="100"></canvas>
      </div>
    </div>

<% if @all_transactions.nil? || @all_transactions.empty? %>
  <p>No transactions to display.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Details</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <% @all_transactions.sort_by { |transaction| -transaction['date'].to_time.to_i }.each do |transaction| %>
      <tr class="<%= transaction['section'].downcase %>">
        <td><%= transaction['date'].strftime("%d-%B") %></td>
        <td><%= transaction['category'] %></td>
        <td><%= transaction['details'] %></td>
        <td data-section="<%= transaction['section'] %>">₹ <%= transaction['amount'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
  </section>
</main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var transactions = document.querySelectorAll('td[data-section]');
        var totalExpense = 0;
        var totalIncome = 0;

        transactions.forEach(function(td) {
            var amount = parseFloat(td.innerText.replace('₹', ''));
            if (td.getAttribute('data-section') === 'Expense') {
                totalExpense += amount;
            } else if (td.getAttribute('data-section') === 'Income') {
                totalIncome += amount;
            }
        });

        document.getElementById('total_expense').innerText = totalExpense.toFixed(2);
        document.getElementById('total_income').innerText = totalIncome.toFixed(2);
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var expenseChart, incomeChart;  // Global variables for the charts

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById('showAnalysisBtn').onclick = function() {
            fetchGraphs(); // Fetch graphs before showing modal
        };

        function fetchGraphs() {
            fetch('/load_graphs', {
                method: 'POST',
                body: new FormData(document.getElementById('graphForm'))
            })
              .then(response => response.json())
              .then(data => {
                  updateGraphs(data.expense_data, data.income_data);
                  modal.style.display = "block";  // Display modal only after data is loaded
              })
              .catch(error => {
                  console.error('Error:', error);
                  alert('Failed to fetch graphs: ' + error.message);
              });
        }

        function updateGraphs(expenseData, incomeData) {
            var expenseTotal = 0;
            var incomeTotal = 0;
            var expenseCtx = document.getElementById('expenseChart').getContext('2d');
            var incomeCtx = document.getElementById('incomeChart').getContext('2d');

            // Calculate totals
            Object.values(expenseData).forEach(value => expenseTotal += value);
            Object.values(incomeData).forEach(value => incomeTotal += value);

            // Update totals display
            document.getElementById('total_date_expense').textContent = `₹${expenseTotal.toFixed(2)}`;
            document.getElementById('total_date_income').textContent = `₹${incomeTotal.toFixed(2)}`;

            if (expenseChart) {
                expenseChart.destroy(); // Destroy the existing chart instance if it exists
            }
            expenseChart = new Chart(expenseCtx, {
                type: 'bar',
                data: {
                    labels: Object.keys(expenseData),
                    datasets: [{
                        label: 'Total Expenses by Category',
                        data: Object.values(expenseData),
                        backgroundColor: 'rgb(239,13,13)'
                    }]
                }
            });

            if (incomeChart) {
                incomeChart.destroy();
            }
            incomeChart = new Chart(incomeCtx, {
                type: 'bar',
                data: {
                    labels: Object.keys(incomeData),
                    datasets: [{
                        label: 'Total Income by Category',
                        data: Object.values(incomeData),
                        backgroundColor: 'rgb(8,234,12)'
                    }]
                }
            });
        }
    });
</script>
</body>
</html>